body
	background-color: #FFF
	font-family: $roboto
	font-weight: 300
	line-height: 1.1

.container
	@media(min-width: $large)
		width: 1090px

.page-wrapper
	box-shadow:  0px 0px 16px 0px rgba(0,0,0,.2), 0px 0px 16px 0px rgba(0,0,0,.2)
	padding-top: 55px
	padding-bottom: 90px

.align-middle
	vertical-align: middle

.flex
	display: flex
	justify-content: center
	&--space
		justify-content: space-between