.green-btn
	color: $green !important
	&:hover
		color: white !important
		background-color: $green !important
	&--full
		background-color: $green !important
		color: white !important
		box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
		transition: box-shadow .28s cubic-bezier(.4,0,.2,1);

.btn-no-transform
	text-transform: initial
