.forcast-table
	.form-group
		margin: 30px 0
	.ft-select
		float: left
		width: 80%
	.ft-order
		float: left
		width: 20%
	.ft-datepicker
		cursor: pointer
		&--show
			.date
				display: none
			.datepicker
				display: block
	.date
		color: #009688
	.datepicker
		display: none
		width: 130px
