.portfolio
	position: relative
	z-index: 1
.pad-top-50
	position: relative
	padding-top: 50px

.text-grey
	color: $text
.text-thin
	font-weight: 200

.pre-table
	&__buttons
		margin-bottom: 20px
	&__key-value
		font-size: 0.9em
		margin-left: 10px
		i
			color: $green