#owl-frontPage 
	.item 
		img
			display: block;
			width: 100%;
			height: auto;
	.owl-prev,
	.owl-next
		padding: 10px 10px
	.owl-prev
		float: left
	.owl-next
		float: right

.owl-carousel
	position: relative
	width: 100%
	margin: 30px 0
	

.owl-controls
	.owl-page
		span
			width: 8px !important
			height: 8px !important
	.owl-page.active
		span
			background-color: $green


.owl-buttons
	position: absolute
	top: 0
	bottom: 0
	left: -60px
	right: -60px
	display: flex
	align-items: center
	justify-content: space-between
	@media(max-width: $tablet)
		left: 0
		right: 0