.comments
	h2
		margin-bottom: 50px
		color: $title

.comment
	margin-bottom: 60px
	&:last-child
		margin-bottom: 100px
	h3
		font-size: 22px
		color: $title
	&__time
		margin: 20px 0
		color: $text
		font-weight: 200
		font-size: 14px
		i
			vertical-align: middle
			margin-right: 5px
			font-size: 20px
			color: $text

			&:nth-child(2)
				margin-left: 10px

	&__body
		color: $text
		font-size: 16px

.comment-form
	textarea
		font-size: 20px

	.form-group 
		.form-control
			background-image: -webkit-linear-gradient($green, $green),-webkit-linear-gradient(#d2d2d2, #d2d2d2)
			background-image: -o-linear-gradient($green, $green),-o-linear-gradient(#d2d2d2, #d2d2d2)
			background-image: linear-gradient($green, $green),linear-gradient(#d2d2d2, #d2d2d2)
			&:focus
				background-image: -webkit-linear-gradient($green, $green),-webkit-linear-gradient(#d2d2d2, #d2d2d2)
				background-image: -o-linear-gradient($green, $green),-o-linear-gradient(#d2d2d2, #d2d2d2)
				background-image: linear-gradient($green, $green),linear-gradient(#d2d2d2, #d2d2d2)
	.comment-form__submit.btn-primary
		background-color: $green
		&:hover
			background-color: $green-hover
