.footer
	background-color: $grey
	
	&__top
		padding: 20px 0
		display: flex
		justify-content: space-between
		align-items: center
		@media(max-width: 500px)
			display: block



.footer-logo
	@media(max-width: $medium)
		padding: 0 15px
	@media(max-width: 500px)
		display: block
		text-align: center
		margin-bottom: 20px


.footer-nav
	display: inline-block
	@media(max-width: $medium)
		padding: 0 15px
	@media(max-width: 500px)
		display: block
		text-align: center

	ul
		@media(max-width: 500px)
			display: inline-block
			margin: auto
			padding-left: 0
		li
			display: inline-block
			float: left
			margin: 10px
			color: #808080
			a
				color: inherit
				text-decoration: none
				a:hover
					color: #fff


.footer-copyright
	padding: 20px 0
	background-color: #000
	text-align: center
	color: #808080