.forcast-table
	@media(max-width: $medium)
		padding: 0 15px
		overflow: hidden
	&-wrapper
		@media(max-width: $medium)
			overflow-x: scroll

	table
		border: 1px solid $light-grey
		@media(max-width: $medium)
			width: 1060px

	th
		padding: 15px 8px !important
		background-color: $light-grey
		border-bottom: 0 !important
		font-size: 1em
		font-weight: 300
	td
		background-color: #FFF
		border-top: 0px !important
		vertical-align: middle !important
		
	.th-8-percent
		width: 8%
		&--min
			width: auto
			min-width: 8%
	.th-12-percent
		width: 12%
		&--min
			width: auto
			min-width: 12%
	.info-data
		color: $text
		font-weight: 200

	.tr-brdb
		border-bottom: 1px solid $light-grey
		&:last-child
			border-bottom: 0px


