.navbar.navbar-material-white
	background-color: #FFF

	li
		a
			color: $title
			border-bottom: 1px solid white
			&:hover
				color: $title !important
				border-color: $green

	li.active
		a
			color: $title
	li.open > a
			color: $title
			border-bottom: 1px solid $green


.navbar-custom
	.navbar-toggle
		.icon-bar
			background-color: $title
	.btn-default.btn-green
		background-color: $green
		color: white
		&:hover
			background-color: $green-hover


.navbar-content-wrapper,
.footer-content-wrapper
	@media(min-width: $large)
		width: 1170px
		margin: auto