.info
	position: absolute
	top: -75px
	left: -30px
	right: -30px
	z-index: 1
	margin-bottom: 10px
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12)
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12)
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12)
	background-color: #FFF
	padding: 0 30px 10px
	color: $text
	font-size: 1em
	@media(max-width: $tablet)
		left: 0
		right: 0
		padding: 0 15px 10px
	h3
		color: $title
		font-size: 2em