.performance
	margin-bottom: 50px
	&-title
		font-size: 20px
	&-values
		margin-top: 10px
		margin-bottom: 10px
	&__value
		display: flex
		justify-content: center
		align-items: center
		margin-top: 10px
		box-shadow: 0 0px 3px 0 rgba(0,0,0,.12),0 0px 3px 0 rgba(0,0,0,.12);
		border-radius: 3px
		padding: 20px
		font-size: 16px
		color: white
		&--red
			background-color: $red
		&--green
			background-color: $green-light
		&--yellow
			background-color: $yellow
		span
			font-size: 20px
			margin-left: 10px
	&__key-value
		font-size: 24px
		i
			color: $green
#year, 
#month, 
#week 
	width: 100%
	height: 350px
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	@media(max-width: 500px)
		height: 270px


.amcharts-chart-div 
	a
		display: none !important
